.App {
    width: 100vw;
    height: 100vh;
    background: #fff;
    color: #212121;
    font-family: "Open Sans", sans-serif;
    display: grid;
    place-items: center;
    animation: joinChatWindowBackground 10s infinite;
}

@keyframes joinChatWindowBackground {
    0% {
        background-color: lightgrey;
    }
    25% {
        background-color: lightskyblue
    }
    50% {
        background-color: lightblue;
    }
    75% {
        background-color: lightskyblue
    }
    100% {
        background-color: lightgrey
    }
}


.joinChatContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.joinChatContainer h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.joinChatContainer input {
    width: 210px;
    height: 40px;
    margin: 7px;
    border: 2px solid #43a047;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.joinChatContainer button {
    width: 225px;
    height: 50px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background: #43a047;
    color: #fff;
    cursor: pointer;
}

.joinChatContainer button:hover {
    background: #2e7d32;
}

.chatWindow {
    width: 90vw;
    height: 90vh;
    align-content: center;
    text-align: center;
}

.toggleView {
    margin: 1rem;
    font-weight: bold;
}

.chatWindow p {
    margin: 0;
}
.chatWindow .chat-header {
    height: 3rem;
    text-align: center;
    background: #263238;
    position: relative;
}
.chatWindow .chat-header p {
    display: block;
    padding: 0 1em 0 2em;
    color: #fff;
    font-weight: 700;
    line-height: 45px;
}

.chatWindow .chat-body {
    height: 70%;
    border: 1px solid #263238;
    background: #fff;
    position: relative;
}
.chatWindow .chat-body .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chatWindow .chat-body .message-container::-webkit-scrollbar {
    display: none;
}
.chatWindow .chat-body .message {
    height: auto;
    padding: 10px;
    display: flex;
}

#you {
    justify-content: flex-start;
    font-weight: bold;
}

#you .message-content {
    justify-content: flex-start;
}

#you .message-meta {
    justify-content: flex-start;
    margin-left: 5px;
}

#other {
    justify-content: flex-end;
}

#other .message-content {
    justify-content: flex-end;
}

#other .message-meta {
    justify-content: flex-end;
    margin-right: 5px;
}

.message-meta #author {
    margin-left: 10px;
    font-weight: bold;
}

.chatWindow .chat-body .message .message-meta {
    display: flex;
    font-size: 12px;
}

.chatWindow .chat-footer {
    height: 3rem;
    border: 0.1rem solid #263238;
    border-top: none;
    display: flex;
}

.chatWindow .chat-footer input {
    height: 100%;
    width: 20%;
    flex: 85%;
    border: 0;
    padding: 0 0.7em;
    font-size: 1em;
    border-right: 1px dotted #607d8b;

    outline: none;
    font-family: "Open Sans", sans-serif;
}

.chatWindow .chat-footer button {
    border: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    height: 100%;
    width: 10rem;
    background: transparent;
    outline: none;
    font-size: 25px;
    color: black;
}

.chatWindow .chat-footer button:hover {
    font-weight: bold;
}
.hide {
    opacity: 0 !important;
}

body {
    margin: 0%;
    padding: 0%;
}

.joinChatContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 0.2em solid steelblue;
    border-radius: 0.2em;
    animation: joinChatContainerBackground 10s infinite;
}

@keyframes joinChatContainerBackground {
    0% {
        background-color: beige;
    }
    25% {
        background-color: lightgoldenrodyellow;
    }
    50% {
        background-color: lightcyan;
    }
    75% {
        background-color: lightgoldenrodyellow
    }
    100% {
        background-color: beige
    }
}

.joinChatContainer h3 {
    font-size: 2rem;
    margin: 0;
}

.joinChatContainer h4 {
    font-size: 1.5rem;
    margin: 0;
}

.joinChatContainer p {
    font-size: 1rem;
    margin: 0.2rem;
}

.joinChatContainer .duplicateNickName {
    font-size: 1rem;
    color: darkred;
    font-weight: bold;
    margin: 0.2rem;
}

.joinChatContainer input {
    width: 10em;
    height: 1em;
    margin: 0.5em auto auto;
    border: 0.2em solid steelblue;
    border-radius: 0.2em;
    padding: 0.5em;
    font-size: 1em;
}

.joinChatContainer button {
    width: 15rem;
    height: 5rem;
    margin: 2rem 2rem 2rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    background: steelblue;
    color: #fff;
    cursor: pointer;
}

.joinChatContainer button:hover {
    font-weight: bold;
    background: black;
}

.joinChatContainer .colorPicker {
    margin: auto;
}

.chatWindow .chat-body .message {
    height: auto;
    padding: 10px;
    display: flex;
}

.chatWindow .chat-body .message .message-content {
    width: auto;
    height: auto;
    min-height: 2rem;
    max-width: 20rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.message-meta #author {
    margin-left: 10px;
    font-weight: bold;
}

.chatWindow .chat-body .message .message-meta {
    display: flex;
    font-size: 12px;
}

.hide {
    opacity: 0 !important;
}